.upgradeMenu{
    width:240px;
    background-color:white;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 10px;
    flex: 1;
}

.titleSection{
    height: 80px;
    width:100%;
    overflow:hidden;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-left:20px;
}

.titleSection span{
    font-size: 1.5em;
}

.levelSection{
    height: 80px;
    width:80px;
    background-color:#586599b2;
    /* border: 1px solid red; */
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.levelSection span {
    font-size: 2em;
    color:white;
}

.name{
    font-weight: 800;
}

.buildingOptionsSection{
    
}