.villager{
    position: absolute;
    transition: all 500ms ease-out;
    display:flex;
    justify-content: center;
    align-items: center;
    padding:5px;
    border:1px solid transparent;
    border-radius: 10px;
}

.selected{
    border-color: #80bd9f;
    
}
.nothing{
    border-color: transparent;
}