.villager {
  position: absolute;
  transition: all 300ms ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border: 1px solid transparent;
  border-radius: 10px;
}

.villager:hover {
  border-color: #80bd9e36;
}

.selected {
  border-color: #80bd9f !important;
}
.nothing {
  border-color: transparent;
}
