.button{
    border:none;
    background-color: white;
    border-radius: 5px;
    color:#292D3E;
    z-index:10;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    transition: background-color 100ms;
}
.button:not(.disabled):hover{
    background-color: #373c50;
    color:white;
  }

.disabled{
    background-color: #373c50;
}

.nothing{

}

.active{
    background-color: #373c50;
    color:white;
}