.building{
    border:1px solid transparent;
    border-radius: 10px;
    transition: border-color 300ms;
    padding:5px;
    color:red;
}

.building:hover{
    border-color:#80bd9e36;
}

.active{
    border-color: #80bd9f!important;
}

.building svg{
    height:0.5em!important;
}
.not-active{
    border-color: transparent;
}