.building {
  border: 1px solid transparent;
  border-radius: 10px;
  transition: border-color 300ms;
  padding: 5px;
  color: red;
}

.building:hover {
  border-color: #32353f59;
}

.active {
  border-color: #32353f !important;
}

.building svg {
  height: 0.5em !important;
}
.not-active {
  border-color: transparent;
}

.buildingProgressBar{
  -webkit-appearance: none;
  border-radius: 5px;
  height: 5px;
}
