.professionPicker {
  transform: translate(240px, -450px);
  position: absolute;
  background: #4f5158f2;
  z-index: 6;
  height: 300px;
  width: 200px;
  border-radius: 0px 10px 10px 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  padding: 5px;
}

.professionPickerItems {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3px;
}
