.mapObject {
  height: 50px;
  width: 50px;
  position: absolute;
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 5px;
  transition: border-color 300ms;
}

.mapObject:hover {
  border-color: #80bd9e36;
}

.taskAssignedAfter {
  border-color: transparent;
}

.selected {
  border-color: #80bd9f !important;
  border-radius: 10px;
}

.nothing {
}

.taskAssigned {
  border-color: #80bd9f !important;
}
