.mapObject {
  position: relative;
  width:100%;
  height:100%;
}

.mapObject img {
  height: 100%;
  width:100%;
}

.taskAssignedAfter {
  border-color: transparent;
}

.taskAssigned {
  border-color: #32353f !important;
}

.inventoryProgressBar[value]::-webkit-progress-value{
  background-color:#373c50;
}

.inventoryProgressBar[value]{
  -webkit-appearance: none;
  border-radius: 5px;
  height: 5px;
}